numpy==1.22.0
scipy==1.8.0
torch==1.11.0
torchaudio==0.11.0
matplotlib==3.5.1
seaborn==0.11.2
tqdm==4.64.0
pyqtwebengine==5.12
pyqt5==5.12
jupyterlab==3.3.3
scikit-learn==1.0.2
scikit-image==0.19.2
opencv-python==4.5.5.64
opencv-contrib-python==4.5.5.64
